<header>
  <div class="mini-navbar-wrap">
    <div class="logo-wrap">
      <p class="logo"><span class="logo">SoftUni Forum</span></p>
    </div>
    <div class="mini-navbar">
      <ul>
        @if (isUser) {
        <li>
          <a routerLink="/profile" routerLinkActive="active"
            >{{ username }}'s profile</a
          >
        </li>
        <li>
          <a routerLink="/logout" routerLinkActive="active">Logout</a>
        </li>
        } @else {
        <li>
          <a routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li>
          <a routerLink="/register" routerLinkActive="active">Register</a>
        </li>
        }
      </ul>
    </div>
  </div>
  <nav>
    <ul>
      <li>
        <a
          routerLink="/home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a routerLink="/themes" routerLinkActive="active">Themes</a>
      </li>
      <li>
        <a routerLink="/add-theme" routerLinkActive="active">New Theme</a>
      </li>
    </ul>
  </nav>
</header>
