<div class="counter-container">
  <button (click)="decrement()">-</button>
  <span>{{ count }}</span>
  <button (click)="increment()">+</button>

  <div>
    <div>
      Increment Amount:
      <input type="number" [(ngModel)]="incrementAmount" min="0" />
    </div>
    <div>
      <p class="negative" *ngIf="isNegative; else elseBlock">Negative</p>
      <ng-template #elseBlock>
        <p [ngClass]="{ positive: count > 0 }">
          {{ count == 0 ? "Neutral" : "Positive" }}
        </p></ng-template
      >
    </div>
  </div>
</div>
