<h2>Collection</h2>
<section id="tattoos">
  <!-- Display a div with information about every post (if any)-->
  @if(isLoading){
  <h2>...Loading</h2>
  } @else { @for (item of data; track item._id) {
  <div class="tattoo">
    <img [src]="item.imageUrl" [alt]="item.title" />
    <div class="tattoo-info">
      <h3 class="type">{{ item.title }}</h3>
      <span>Uploaded by </span>
      <p class="user-type">{{ item.category }}</p>
      <a class="details-btn" [routerLink]="['/tattoo/details', item._id]"
        >Learn More</a
      >
    </div>
  </div>

  } @empty {
  <!-- Display an h2 if there are no posts -->
  <h2 id="no-tattoo">Collection is empty, be the first to contribute</h2>
  } }
</section>
