<form>
  <label for="select">Sort</label>
  <select
    name="select"
    id="select"
    [selectedIndex]="0"
    [(ngModel)]="selectedValue"
  >
    <option disabled value=""></option>
    <option value="priority">Priority</option>
    <option value="isCompleted">Completed</option>
    <option value="description">Description</option>
  </select>
</form>
<ul>
  <li
    *ngFor="let task of sortedTasks; let i = index"
    [ngClass]="getTaskClasses(task, i)"
    [ngStyle]="{ fontSize: task.priority * 10 + 'px' }"
  >
    <input
      type="checkbox"
      name="isDone"
      id="isDone"
      (click)="checkTodo(task)"
    />
    {{ task.description }}
  </li>
</ul>
<form (submit)="addTodo($event)">
  <input type="text" name="inputText" />
  <input type="submit" value="Add" />
</form>
