<div class="container">
  <form
    #loginForm="ngForm"
    (ngSubmit)="onSubmit(loginData)"
    class="login"
    action=""
    method="post"
  >
    <fieldset>
      <h2>Login Form</h2>

      <p class="field field-icon">
        <label for="email"
          ><span><i class="fas fa-envelope"></i></span
        ></label>
        <input
          [ngClass]="{
            'input-error':
              emailRef.invalid && (emailRef.dirty || emailRef.touched)
          }"
          type="email"
          name="email"
          id="email"
          placeholder="john.doe@gmail.com"
          [(ngModel)]="loginData.email"
          required
          email
          #emailRef="ngModel"
        />
      </p>
      <p
        *ngIf="emailRef.errors?.['required'] && (emailRef.dirty || emailRef.touched)"
        class="error"
      >
        Email is required!
      </p>
      <p
        *ngIf="emailRef.errors?.['email'] && (emailRef.dirty || emailRef.touched)"
        class="error"
      >
        Email is not valid!
      </p>

      <p class="field field-icon">
        <label for="password"
          ><span><i class="fas fa-lock"></i></span
        ></label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="******"
          #passwordRef="ngModel"
          required
          minlength="4"
          [(ngModel)]="loginData.password"
          [ngClass]="{
            'input-error':
              passwordRef.invalid && (passwordRef.dirty || passwordRef.touched)
          }"
        />
      </p>
      <p
        *ngIf="passwordRef.errors?.['required'] && (passwordRef.dirty || passwordRef.touched)"
        class="error"
      >
        Password is required!
      </p>
      <p
        *ngIf="passwordRef.errors?.['minlength'] && (passwordRef.dirty || passwordRef.touched)"
        class="error"
      >
        Password must be at least 4 characters!
      </p>

      <button
        [disabled]="loginForm.invalid"
        [class]="{ formDisabled: loginForm.invalid }"
      >
        Login
      </button>

      <p class="text-center">
        Have an account?
        <a routerLink="/register">Register</a>
      </p>
    </fieldset>
  </form>
</div>
