<section id="edit-page" class="auth">
  <form [formGroup]="formGroup" (ngSubmit)="onEdit()" id="edit">
    <div class="container">
      <h1>Edit Game</h1>
      <label for="leg-title">Legendary title:</label>
      <input type="text" id="title" name="title" formControlName="title" />

      <label for="category">Category:</label>
      <input
        type="text"
        id="category"
        name="category"
        formControlName="category"
      />

      <label for="levels">MaxLevel:</label>
      <input
        type="number"
        id="maxLevel"
        name="maxLevel"
        min="1"
        formControlName="maxLevel"
      />

      <label for="game-img">Image:</label>
      <input
        type="text"
        id="imageUrl"
        name="imageUrl"
        formControlName="imageUrl"
      />

      <label for="summary">Summary:</label>
      <textarea
        name="summary"
        id="summary"
        formControlName="summary"
      ></textarea>
      <input class="btn submit" type="submit" value="Edit Game" />
    </div>
  </form>
</section>
